node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.firebase
.firebaserc
.local/
.vscode/
dataconnect-debug.log
dataconnect/
lt.log
pglite-debug.log
serveo.log
*.orig
*.patch
uploads/